// Specific CSS for your home-page
.container {
  margin-top:50px;
}

.side-nav-home {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  padding: 16px;
  height: 30vh;
  li {
    list-style-type: none;
  }
}

.log-link-home {
  font-family: $body-font;
  font-size: 18px;
  text-decoration: none;
  color: $main-body;
  padding: 8px;
  &:hover {
    color: $highlight;
  }
}

.profile_link_home {
  color:$main-body;
  font-family: $headers-font;
  font-size: 30px;
  font-weight: 400;
  transition: 0.3s;
  letter-spacing: 4px;
  &:hover {
    color: $highlight;
  }
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}


.headings-landing {
  z-index: 1000;
  position: relative;
  margin: auto;
  margin-top: 24px;
  justify-content: center;
  h2 {
    width: 800px;
    margin: auto;
    font-family: $serif-font;
    font-size: 44px;
    letter-spacing: 6px;
    margin-top: -2px;
  }

  h1 {
    width: 800px;
    margin: auto;
    font-family: $headers-font;
    font-size: 89px;
    letter-spacing: 6px;
    font-weight: 600;
    line-height: 1;
  }

}

.enter {
  position: absolute;
  z-index: 1000;
  align-items: center;
  text-align: center;
  transition: 0.6s;
  color: black;
  font-family: $headers-font;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  border: solid 3px black;
  border-radius: 40px;
  padding: 4px 8px;
  background: rgba(249,244,235, 0.1);
  &:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    background: rgba(249,244,235, 0.3);
  }
}


.landing-image-container {
  margin: -20px auto 40px auto;
  text-align: center;
  position: relative;
}

.landing-image {
    width: 62%;
}

