#profile-welcome {
  text-align: center;
  font-family: $headers-font;
}

.profile-content-box {
  display: flex;
  justify-content: space-around;
}

.favourites-container {
  margin-top: 60px;
  margin-left: 120px;
}

.shopping-list-points {
  list-style: none;
  margin-left: 20px;
  padding-left: 0px;
  text-align: left;
  padding: 20px;
  border: solid 2px #ede2d0;
  border-radius: 8px;
  background-color: white;
  overflow: scroll;
  max-height: 280px;
}

.profile-shopping-list {
  text-align: right;
  margin-right: 120px;
  margin-top: 60px;
}

