@import "components/favourites";
@import "components/completed_shopping_lists";


.current-recipes-container {
  h2 {
    text-align: center;
    font-family: $headers-font;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 24px;
    text-align: center;
  }
  margin:80px auto;
  width: 55%;
  max-height: 600px;
  overflow: scroll;
}

.favourites-container {
  margin: 80px 0;
  width: 100%;
}

.profile-completed-shopping-lists {
 width: 35%;
 margin:25px;
 text-align: left;
}

.past-shopping-lists-title {
  text-align: center;
}

.card-product-shopping {
  height: 124px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 2px;
  overflow: scroll;
  img {
    height: 100%;
    width: 25%;
    object-fit: cover;
    border-radius: 2px 0 0 2px;
  }
}

.card-product-name {
  text-align: center;
  font-family: $headers-font;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0 16px;
}

.card-product-author {
  text-align: center;
  font-family: $serif-font;
  font-size: 16px;
  letter-spacing: 4px;
  margin: 0;

}

.btn-ghost {
  border: solid 1px $highlight;
  opacity:1;
  border-radius: 20px;
  color: $highlight;
  margin-right: 16px;
  &:hover {
  opacity:1;
  transition:0.3s;
  color: $highlight;
  background-color: $highlight;
  color:white;
  }
}
