
@import "components/reviews";

.body-show {
  margin-top: 60px;
  width: 80%;
}

.recipe-content {
  min-height: 900px;
  margin: auto;
  text-align: center;
  position: relative;
}

.review-button {
  margin: 0;
}

.recipe-description {
  text-align: center;
  margin: 40px 40px 0 340px;
  p {
    font-family: $body-font;
    font-size: 24px;
    font-weight: 600;
  }
}

.recipe-image {
  margin: -880px 0 0 0;
  width: 85%;
}

.ingredients {
  background: rgba(250,249,245, 0.3);
  padding: 36px 20px;
  z-index: 1000;
  position: sticky;
  width: 300px;
  height: 900px;
  top: 0;
  h3 {
    font-family: $headers-font;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 24px;
    text-align: right;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    text-align: right;
  }

}

.recipe-instructions {
  margin: 0px 60px 0 360px;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 40px;
  p {
    font-family: $body-font;
    font-size: 20px;
    font-weight: 400;
  }
}

.time-servings {
  p {
    margin: 8px;
  }
}

.cloud-image-show {
  width: 80vw;
}
