.headings {
  width: 100%;
  text-align: center;
  margin: auto;
  justify-content: center;
  width: 65%;
  h2 {
    font-family: $serif-font;
    font-size: 36px;
    letter-spacing: 6px;
    margin-top: -14px;
  }

  h1 {
    font-family: $headers-font;
    font-size: 64px;
    letter-spacing: 6px;
    font-weight: 600;
    line-height: 1;
  }
}

.recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.recipe-description {
  text-align: center;
  width: 90%;
  margin-top: 48px;
  p {
    font-family: $body-font;
    font-size: 24px;
    font-weight: 600;
  }
}

.recipe-image {
  margin: 48px 0;
  width: 85%;
}

.recipe-instructions {
  width: 90%;
  padding-top: 16px;
  p {
    font-family: $body-font;
    font-size: 22px;
    font-weight: 400;
  }
}

.shopping-list-ingredients {
  margin-top: 60px;
  width: 20%;
  text-align: right;
  h3 {
    font-family: $body-font;
    font-size: 18px;
    font-weight: 600;
  }
  ul {
    list-style-type: none;
  }
}

.shopping-list {
  min-height: 400px;
}
