@import "components/reviews";

.recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.recipe-description {
  text-align: center;
  width: 90%;
  margin-top: 48px;
  p {
    font-family: $body-font;
    font-size: 24px;
    font-weight: 600;
  }
}

.recipe-image {
  margin: 48px 0;
  width: 85%;
}

.recipe-instructions {
  width: 90%;
  padding-top: 16px;
  p {
    font-family: $body-font;
    font-size: 22px;
    font-weight: 400;
  }
}

.time-servings {
  p {
    margin: 8px;
  }
}

.cloud-image-show {
  width: 500px;
}
