.index-headings {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.container-recipes {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-shopping-list {
  width: 20%;
  margin-top: 180px;
  width: 20%;
  text-align: right;
  h2 {
    font-family: $body-font;
    font-size: 18px;
    font-weight: 600;
  }
}

.list-inline {
  list-style-type: none;
  display: inline-block;
}

.card {
  height: 400px;
  width: 250px;
  border: 1px solid rgb(82, 69, 69);
  border-radius: 3px;
  position: relative;
  padding: 5px;
  margin: 10px;
}

// .card-odd {
//   height: 300px!important;
// }

.card-description {
  text-align: left;
  p {
    font-family: $body-font;
    font-size: 1rem;
  }
}

#ingredient-dropdown {
    margin-top: -16px;
    background-color: transparent;
    border: 0;
  a {
    font-family: $serif-font;
    font-size: 30px;
    transition: 0.3s;
    &:hover {
      color: $highlight;
      background-color: transparent;
    }
  }
}

#ingredientDropdown {
  padding-left: 0;
  margin: 50px 0 40px 0;
  font-family: $body-font;
  font-size: 24px;
  &:hover {
    color: $highlight;
  }
}

.card-image {
  img {
    width: 100%;
    border-radius: 3px;
  }
}

.plus {
  position: absolute;
  bottom: 5px;
  right:5px;
}

.btn-modal {
  height: 10px!important;
  width: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
  color: black;
}

.btn-modal:hover {
  color: white;
  background-color: black;
  transition: 3ms;
}
