<%# <div class="row justify-content-center"> %>
  <%# <row class="col-lg-12"> %>
    <%# Add <%= @recipe.name %> <!-- to your shopping list</h1> -->
    <%# <%= simple_form_for ShoppingList.new do |f| %>
      <%# <%= f.button :submit, 'Confirm', class: "btn-super-confirm" %>
       <%# f.input :photo, as: :file %>
    <%# <% end %>
  <%# </row> %>
<%# </div> %>
