<h1 id="profile-welcome">Welcome <%= current_user.username %>!</h1>

<div class="profile-content-box">
  <div class="favourites-container">
  <h2>Your favourites</h2>
    <p>You haven't chosen any favourite recipes yet! <br> Have a look at what's in season here <strong><%= link_to "Recipes", recipes_path %></strong></p>
  </div>
  <div class="profile-shopping-list">
    <h2>Your shopping list</h2>
    <ul class="shopping-list-points">
      <% current_user.shopping_list.shopping_list_items.each do |items| %>
        <% items.ingredients.each do |ing| %>
          <li><%= ing.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


