<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-images">
    <%= link_to cl_image_tag('footer_image1_egdure', width: 30, height: 30), "https://github.com/Daturkington", target: :blank %>
    <%= link_to cl_image_tag('footer_image2_sx4jfd', width: 30, height: 30), "https://github.com/abottenberg", target: :blank %>
    <%= link_to cl_image_tag('footer_image3_ali9z2', width: 30, height: 30), "https://github.com/naomikelly13", target: :blank %>
  </div>
</div>
