<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-images">
    <%= cl_image_tag('footer_image1_egdure', width: 30, height: 30) %>
    <%= cl_image_tag('footer_image2_sx4jfd', width: 30, height: 30) %>
    <%= cl_image_tag('footer_image3_ali9z2', width: 30, height: 30) %>
  </div>
</div>
