.landing-page {
  padding-top: 240px;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), image-url("landingpage.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
}


