.buttons {
  height: 30px;
  margin-top: 24px;
  padding-top: 8px;
  text-align: center;
  margin: auto;
  margin-bottom: 16px;
  font-size: 21px;
  button {
    background-color: transparent;
    border: 0;
    &:hover {
      color: $highlight;
      p {
        opacity: 1;
        }
      }
  }

  .button-text {
    font-size: 12px;
    opacity: 0;
    color: $highlight;
    transition: 0.3s;
    margin-bottom: 0;
  }
  a {
    margin: 0 6px;
    transition: 0.3s;
  &:hover {
    color: $highlight;
    p {
      opacity: 1;
      }
    }
  }
}

.button-icon {
  width: 100px;
}

.selected {
  color: $highlight;
  a {
    color: $highlight;
  }
}

.button-icon-small {
  width: 50px;
  text-align: right;
}

.buttons-list {
  height: 20vh;
  margin-top: 24px;
  padding-top: 8px;
  text-align: center;
  margin: auto;
  margin-bottom: 16px;
  font-size: 21px;
  button {
    background-color: transparent;
    border: 0;
    &:hover {
      color: $background;
      p {
        opacity: 1;
        }
      }
  }

  .button-text {
    font-size: 12px;
    opacity: 0;
    color: $background;
    transition: 0.3s;
    margin-bottom: 0;
  }
  a {
    margin: 0 6px;
    transition: 0.3s;
  &:hover {
    color: $background;
    p {
      opacity: 1;
      }
    }
  }
}

