#map {
  margin: 30px;
  border-radius: 8px;
  border: solid 2px #ede2d0;
}

.mapboxgl-popup {
  max-width: 50px;
  max-height: 70px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content h2 {
  font-size: 14px;
}

.mapboxgl-popup-content p {
  font-size: 12px;
}

.map-details-container {
  display: flex;
  justify-content: center;
}

.map-details-container-header {
  margin: 30px;
}
