.navbar-ts {
  justify-content: space-between;
  height: 110px;
  padding: 0 24px;
}

.navbar-ts .navbar-collapse {
  flex-grow: 0;
}

.navbar-ts .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-family: $body-font;
  font-size: 18px;
  text-decoration: none;
  color: $main-body;
  margin-right:24px;
  padding: 8px;
}

.nav-link-small {
  font-family: $body-font;
  font-size: 14px;
  text-decoration: none;
  color: $main-body;
  margin-right:24px;
  padding: 8px;
  &:hover {
    text-decoration: none;
  }
}

.dropdown-toggle {
  font-family: $body-font;
  font-size: 18px;
  text-decoration: none;
  color: $main-body;
  a {
    font-size: 18px;
    text-decoration: none;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.dropdown {
  margin-bottom: 0;
  font-family: $body-font;
  font-size: 18px;
  text-decoration: none;
  color: $main-body;
  a {
    font-size: 18px;
    text-decoration: none;
    color: $main-body;

  }
}

.login {
  font-size: 12px;
  margin-right: 16px;
}

#navbar-dropdown {
  background-color: transparent;
  border: 0;
  a {
    font-family: $body-font;
    font-size: 14px;
    text-align: right;
    &:hover {
      color: $highlight;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

.dropdown-item {
    margin-bottom: 12px;
  }

a {
  transition: 0.3s;
  &:hover {
    color: $highlight;
    background-color: transparent;
  }
}



