.side-nav {
  text-align: right;

  height: 30vh;
}

.recipe_link {
  font-family: $headers-font;
  font-size: 36px;
  font-weight: 400;
  transition: 0.3s;
  letter-spacing: 4px;
  &:hover {
    color: $background;
  }
}

.profile_link {
  font-family: $headers-font;
  font-size: 36px;
  font-weight: 400;
  transition: 0.3s;
  letter-spacing: 4px;
  &:hover {
    color: $background;
  }
}

.markets_link {
  font-family: $headers-font;
  font-size: 36px;
  font-weight: 400;
  transition: 0.3s;
  letter-spacing: 4px;
  &:hover {
    color: $background;
  }
}

.log-link {
  font-family: $headers-font;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
  letter-spacing: 2px;
  &:hover {
    color: $background;
  }
}

.shopping-list-ingredients {
  padding: 20px;
  background: $highlight;
  width: 20%;
  height: 100vh;
  text-align: right;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  h3 {
    font-family: $body-font;
    font-size: 26px;
    font-weight: 600;
    color: $background;
  }
  ul {
    list-style-type: none;
  }
}

.shopping-list {
  max-height: 50vh;
  overflow: scroll;
}

.empty {
  font-size: 12px;
}
